@model Zh.WebSite.Models.DataViewModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<ul style="list-style-type: none; font-size: larger;padding-bottom: 1em">
    @foreach (var item in Model.DataList)
    {
        <li>
            @item.Name
        </li>
    }
</ul>