@using Microsoft.AspNetCore.Identity
@model Cinema.Models.ReserveVm

@{
    ViewData["Title"] = "Index";
}


<form asp-action="Reserve" name="reserveForm" style="margin-top: 30px;">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <table style="margin: 0px auto; border-collapse: separate; border-spacing: 10px">
        @for (int i = 0; i < Model.ShowsRoom.NumOfRows; i++)
        {
            <tr>
                @for (int j = 0; j < Model.ShowsRoom.NumOfCols; j++)
                {
                    var thisSeat = Model.ShowSeats.Find(x => x.Row == i && x.Col == j);
                    var disabled = thisSeat.State == State.Reserved || thisSeat.State == State.Sold ? "disabled" : "";
                    var backgrCol = disabled == "" ? "aqua" : "Red";
                    <td>
                        <button id="@thisSeat.Id" type="button" style="width: 25px; height: 25px; background: @backgrCol" value="@thisSeat.State"
                                onclick="chosen(value, id)" @disabled />
                    </td>
                }
            </tr>
        }
    </table>
    <div class="form-group">
        <input type="submit" value="Reserve Seats" class="btn btn-default" />
    </div>
    <input type="hidden" asp-for="SeatIds" id="seatIDs"/>
</form>

<script type="text/javascript">
    var clicked = [];
    function chosen(value, id) {
        if (value !== "Free" && value !== "Selected") return;
        if (value === "Free") {
            if (clicked.length === 6) {
                alert("Max 6 seat reservations allowed");
                return;
            }
            document.getElementById(id).style.backgroundColor = 'Green';
            document.getElementById(id).value = "Selected";
            clicked.push(id);
        }
        if (value === "Selected") {
            document.getElementById(id).style.backgroundColor = 'Aqua';
            document.getElementById(id).value = "Free";
            var index = clicked.indexOf(id);
            if (index !== -1) clicked.splice(index, 1);
        }
        document.getElementById("seatIDs").value = clicked.join(',');
        console.log("SID:" + document.getElementById("seatIDs").value);
        //console.log("Phone:" + document.getElementById("ph").value);
    }
    /*
    function validate() {
        document.getElementById("seatIDs").value = clicked.join(',');
        //console.log(document.reserveForm.userName.value + "\n" + document.reserveForm.phoneNum.value + "\n" + clicked);
        console.log("SID:"+document.getElementById("seatIDs").value);
        return true;
    }
    document.querySelector('#reserveForm').submit(function(e) {
        e.preventDefault();
        console.log(getElementById('userName').value + "\n" + getElementById('phoneNum').value + "\n" + clicked);
    });*/
</script>